body {
  margin: 0;
 font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
